<h1>Navbar</h1>
<ul>
    <li><a href="/">index</a></li>
    <li><a href="/search">search</a></li>
    <li><a href="/new">Create new article</a></li>
    <li><a href="/edit">Edit an article</a></li>
</ul>